@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-size: 62.5%; /* 1rem = 10px */
  }
  body {
    @apply font-manrope bg-off-white text-black;
  }
}

@layer components {
  .container {
    @apply max-w-container mx-auto px-6;
  }
  .btn-primary {
    @apply bg-orange text-white px-[2rem] py-[1.2rem] text-sm font-bold tracking-[2px] uppercase rounded hover:bg-light-orange transition-all duration-200;
  }
}